/**
 * Merge ATS API
 *
 * The unified API for building rich integrations with multiple Applicant Tracking System platforms.
 *
 * The version of the OpenAPI document: 1.0
 * Contact: hello@merge.dev
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dev.merge.client.ats.apis

import dev.merge.client.ats.models.Application
import dev.merge.client.ats.models.ApplicationEndpointRequest
import dev.merge.client.ats.models.ApplicationResponse
import dev.merge.client.ats.models.MetaResponse
import dev.merge.client.ats.models.UpdateApplicationStageRequest

import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

import com.fasterxml.jackson.databind.ObjectMapper

import dev.merge.client.shared.*

open class ApplicationsApi(
baseUrl: String = ApiClient.BASE_URL + "ats/v1",
httpClientEngine: HttpClientEngine? = null,
httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
json: ObjectMapper = ApiClient.JSON_DEFAULT,
) : ApiClient(baseUrl, httpClientEngine, httpClientConfig, json) {

    data class ApplicationsChangeStageCreateRequest (
        val id: java.util.UUID,
        val isDebugMode: kotlin.Boolean? = null,
        val runAsync: kotlin.Boolean? = null,
        val updateApplicationStageRequest: UpdateApplicationStageRequest? = null
    )

    data class ApplicationsCreateRequest (
        val applicationEndpointRequest: ApplicationEndpointRequest,
        val isDebugMode: kotlin.Boolean? = null,
        val runAsync: kotlin.Boolean? = null
    )

    data class ApplicationsListRequest (
        val candidateId: kotlin.String? = null,
        val createdAfter: java.time.OffsetDateTime? = null,
        val createdBefore: java.time.OffsetDateTime? = null,
        val creditedToId: kotlin.String? = null,
        val currentStageId: kotlin.String? = null,
        val cursor: kotlin.String? = null,
        val includeDeletedData: kotlin.Boolean? = null,
        val includeRemoteData: kotlin.Boolean? = null,
        val jobId: kotlin.String? = null,
        val modifiedAfter: java.time.OffsetDateTime? = null,
        val modifiedBefore: java.time.OffsetDateTime? = null,
        val pageSize: kotlin.Int? = null,
        val rejectReasonId: kotlin.String? = null,
        val remoteId: kotlin.String? = null,
        val source: kotlin.String? = null
    )

    data class ApplicationsMetaPostRetrieveRequest (
        val applicationRemoteTemplateId: kotlin.String? = null
    )

    data class ApplicationsRetrieveRequest (
        val id: java.util.UUID,
        val includeRemoteData: kotlin.Boolean? = null
    )

    /**
    * 
    * Updates the &#x60;current_stage&#x60; field of an &#x60;Application&#x60; object
     * @param id  
     * @param isDebugMode Whether to include debug fields (such as log file links) in the response. (optional)
     * @param runAsync Whether or not third-party updates should be run asynchronously. (optional)
     * @param updateApplicationStageRequest  (optional)
     * @return ApplicationResponse
    */
    @Suppress("UNCHECKED_CAST")
    open suspend fun applicationsChangeStageCreate(requestModel: ApplicationsApi.ApplicationsChangeStageCreateRequest): HttpResponse<ApplicationResponse> {

        val localVariableAuthNames = listOf<String>("accountTokenAuth", "bearerAuth")

        val localVariableBody = requestModel.updateApplicationStageRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestModel.isDebugMode?.apply { localVariableQuery["is_debug_mode"] = listOf("$requestModel?.isDebugMode") }
        requestModel.runAsync?.apply { localVariableQuery["run_async"] = listOf("$requestModel?.runAsync") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
        RequestMethod.POST,
        "/applications/{id}/change-stage".replace("{" + "id" + "}", "$requestModel.id"),
        query = localVariableQuery,
        headers = localVariableHeaders
        )

        return jsonRequest(
        localVariableConfig,
        localVariableBody,
        localVariableAuthNames
        ).wrap()
    }

    /**
    * 
    * Creates an &#x60;Application&#x60; object with the given values.
     * @param applicationEndpointRequest  
     * @param isDebugMode Whether to include debug fields (such as log file links) in the response. (optional)
     * @param runAsync Whether or not third-party updates should be run asynchronously. (optional)
     * @return ApplicationResponse
    */
    @Suppress("UNCHECKED_CAST")
    open suspend fun applicationsCreate(requestModel: ApplicationsApi.ApplicationsCreateRequest): HttpResponse<ApplicationResponse> {

        val localVariableAuthNames = listOf<String>("accountTokenAuth", "bearerAuth")

        val localVariableBody = requestModel.applicationEndpointRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestModel.isDebugMode?.apply { localVariableQuery["is_debug_mode"] = listOf("$requestModel?.isDebugMode") }
        requestModel.runAsync?.apply { localVariableQuery["run_async"] = listOf("$requestModel?.runAsync") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
        RequestMethod.POST,
        "/applications",
        query = localVariableQuery,
        headers = localVariableHeaders
        )

        return jsonRequest(
        localVariableConfig,
        localVariableBody,
        localVariableAuthNames
        ).wrap()
    }

    /**
    * 
    * Returns a list of &#x60;Application&#x60; objects.
     * @param candidateId If provided, will only return applications for this candidate. (optional)
     * @param createdAfter If provided, will only return objects created after this datetime. (optional)
     * @param createdBefore If provided, will only return objects created before this datetime. (optional)
     * @param creditedToId If provided, will only return applications credited to this user. (optional)
     * @param currentStageId If provided, will only return applications at this interview stage. (optional)
     * @param cursor The pagination cursor value. (optional)
     * @param includeDeletedData Whether to include data that was marked as deleted by third party webhooks. (optional)
     * @param includeRemoteData Whether to include the original data Merge fetched from the third-party to produce these models. (optional)
     * @param jobId If provided, will only return applications for this job. (optional)
     * @param modifiedAfter If provided, will only return objects modified after this datetime. (optional)
     * @param modifiedBefore If provided, will only return objects modified before this datetime. (optional)
     * @param pageSize Number of results to return per page. (optional)
     * @param rejectReasonId If provided, will only return applications with this reject reason. (optional)
     * @param remoteId The API provider&#39;s ID for the given object. (optional)
     * @param source If provided, will only return applications with this source. (optional)
     * @return PaginatedApplicationList
    */
    @Suppress("UNCHECKED_CAST")
    open suspend fun applicationsList(requestModel: ApplicationsApi.ApplicationsListRequest): HttpResponse<MergePaginatedResponse<Application>> {

        val localVariableAuthNames = listOf<String>("accountTokenAuth", "bearerAuth")

        val localVariableBody = 
                io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestModel.candidateId?.apply { localVariableQuery["candidate_id"] = listOf("$requestModel?.candidateId") }
        requestModel.createdAfter?.apply { localVariableQuery["created_after"] = listOf("$requestModel?.createdAfter") }
        requestModel.createdBefore?.apply { localVariableQuery["created_before"] = listOf("$requestModel?.createdBefore") }
        requestModel.creditedToId?.apply { localVariableQuery["credited_to_id"] = listOf("$requestModel?.creditedToId") }
        requestModel.currentStageId?.apply { localVariableQuery["current_stage_id"] = listOf("$requestModel?.currentStageId") }
        requestModel.cursor?.apply { localVariableQuery["cursor"] = listOf("$requestModel?.cursor") }
        requestModel.includeDeletedData?.apply { localVariableQuery["include_deleted_data"] = listOf("$requestModel?.includeDeletedData") }
        requestModel.includeRemoteData?.apply { localVariableQuery["include_remote_data"] = listOf("$requestModel?.includeRemoteData") }
        requestModel.jobId?.apply { localVariableQuery["job_id"] = listOf("$requestModel?.jobId") }
        requestModel.modifiedAfter?.apply { localVariableQuery["modified_after"] = listOf("$requestModel?.modifiedAfter") }
        requestModel.modifiedBefore?.apply { localVariableQuery["modified_before"] = listOf("$requestModel?.modifiedBefore") }
        requestModel.pageSize?.apply { localVariableQuery["page_size"] = listOf("$requestModel?.pageSize") }
        requestModel.rejectReasonId?.apply { localVariableQuery["reject_reason_id"] = listOf("$requestModel?.rejectReasonId") }
        requestModel.remoteId?.apply { localVariableQuery["remote_id"] = listOf("$requestModel?.remoteId") }
        requestModel.source?.apply { localVariableQuery["source"] = listOf("$requestModel?.source") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
        RequestMethod.GET,
        "/applications",
        query = localVariableQuery,
        headers = localVariableHeaders
        )

        return request(
        localVariableConfig,
        localVariableBody,
        localVariableAuthNames
        ).wrap()
    }

    /**
    * 
    * Returns metadata for &#x60;Application&#x60; POSTs.
     * @param applicationRemoteTemplateId The template ID associated with the nested application in the request. (optional)
     * @return MetaResponse
    */
    @Suppress("UNCHECKED_CAST")
    open suspend fun applicationsMetaPostRetrieve(requestModel: ApplicationsApi.ApplicationsMetaPostRetrieveRequest): HttpResponse<MetaResponse> {

        val localVariableAuthNames = listOf<String>("accountTokenAuth", "bearerAuth")

        val localVariableBody = 
                io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestModel.applicationRemoteTemplateId?.apply { localVariableQuery["application_remote_template_id"] = listOf("$requestModel?.applicationRemoteTemplateId") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
        RequestMethod.GET,
        "/applications/meta/post",
        query = localVariableQuery,
        headers = localVariableHeaders
        )

        return request(
        localVariableConfig,
        localVariableBody,
        localVariableAuthNames
        ).wrap()
    }

    /**
    * 
    * Returns an &#x60;Application&#x60; object with the given &#x60;id&#x60;.
     * @param id  
     * @param includeRemoteData Whether to include the original data Merge fetched from the third-party to produce these models. (optional)
     * @return Application
    */
    @Suppress("UNCHECKED_CAST")
    open suspend fun applicationsRetrieve(requestModel: ApplicationsApi.ApplicationsRetrieveRequest): HttpResponse<Application> {

        val localVariableAuthNames = listOf<String>("accountTokenAuth", "bearerAuth")

        val localVariableBody = 
                io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestModel.includeRemoteData?.apply { localVariableQuery["include_remote_data"] = listOf("$requestModel?.includeRemoteData") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
        RequestMethod.GET,
        "/applications/{id}".replace("{" + "id" + "}", "$requestModel.id"),
        query = localVariableQuery,
        headers = localVariableHeaders
        )

        return request(
        localVariableConfig,
        localVariableBody,
        localVariableAuthNames
        ).wrap()
    }

}
